name: Build mpv-android (armv7a)

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  build-armv7a:
    runs-on: ubuntu-latest
    name: Build for armv7a
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Download Android NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r26b

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build (armv7a)
        env:
          ABI: armeabi-v7a
        run: |
          ./gradlew assembleRelease -Pabi=$ABI

      - name: Upload release apk artifact
        uses: actions/upload-artifact@v4
        with:
          name: mpv-android-armv7a-release
          path: app/build/outputs/apk/armeabi-v7a/release/*.apk
